@charset "utf-8";

.row_area section{
    margin-bottom: 180px;
}

section ul{
    margin-bottom: 0;
}
section ul:last-of-type{
    margin-bottom: 32px;
}
.map_apari iframe{
    filter: grayscale();
}


/*=================================
/*    media 1078px
/*===============================*/
@media (max-width: 1078px){
    iframe{
        width: 100%;
        height: 300px;
    }
}


/*=================================
/*    media 768px
/*===============================*/
@media (max-width: 768px){
    .row_area section{
        margin-bottom: 64px;
    }

    section ul{
        flex-wrap: wrap;
        margin-bottom: 16px;
    }
    section li{
        width: 100%;
    }
}
